@tailwind base;
@tailwind components;
@tailwind utilities;



.custom-card{
width: 100%;
max-width:200px;
}

.custom-card img{
width:100%;
height: 200px;
object-fit: cover;
border-radius: 20px;
transition: transform 0.3s ease-in-out;
}

.custom-card img:hover{
transform: scale(1.1);

}

  .custom_input{
width:100%;
max-width: 500px;
padding:10px;
border-radius:25px;

  }
  .shimmerLine{
    height:10px;
    background-color: #f0eeee;
  }
  .shimmerImg{
    height: 200px;
    width:100%;
    background-color: #f0eeee;
  }
 .container{
  width:1140px;
  margin:auto;
  display:flex;
  justify-content: center;
 }
 .footer-content {
  width:190px;
  margin:auto;
  padding:7px;
 }
 .text-secondary{
display:block;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
 }
 .container-div{ 
  display: flex;
  height: 100vh;
  width: 100vw; 
  align-items: center;
  justify-content: center;
  }
  .space {
    text-indent: 50px;
    
  }
  p {
    text-indent: 20px; /* Indent the first line */
    padding-left: 30px; /* Create space for the second line */
  }
  .menu_container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }
  .info_container{
    border:1px solid grey;
    border-radius: 25px;
  }